///// Navbar side ////
.navbar {
    height: auto;

    &-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2rem;
    
        &-icon {
            width: 8rem;
        }
    }

    &-list {
        list-style: none;
    }

    &-item {
        position: relative;
        &:not(:last-child) {
            margin-bottom: .5rem;
        }

        &::before {
            content: "";
            height: 100%;
            width: 100%;
            background-color: #fff;
            position: absolute;
            transform: scaleX(0);
            transition: transform .3s ease-in;
        }

        &:hover::before,
        &-active::before {
            transform: scaleX(1);
        }

        &:hover,
        &-active {
            a {
                color: var(--primary) !important;
            }
        }
    }

    &-link:link,
    &-link:visited {
        position: relative;
        display: block;
        padding: 1.5rem;
        text-decoration: none;
        color: #fff;
        z-index: 10;
        font-size: 1.8rem;

        i {
            margin-right: .5rem;
        }
    }
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    &-inner {
        background-color: #fff;
        color: var(--primary);
        padding: .5rem;
        margin: .5rem;
        height: 3rem;
        width: 3rem;
        border-radius: 10%;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            opacity: .7;
        }
    }
}


///// Main body /////
.search {
    align-self: flex-end;
    margin-bottom: 3rem;

    &-input {
        padding: 1rem;
        width: 40rem;
        border: 1px solid var(--primary);
        outline-color: var(--info);
        border-radius: .5rem;
    }

    &-btn {
        color: #fff;
        background-color: var(--primary);
        font-size: 1.4rem;
        padding: 1rem;
        border: none;
        outline: none;
        cursor: pointer;
        margin-left: 1rem;
    }
}

.post {
    padding: 3rem 0;
    margin: 2rem 0;
    flex: 0 0 48%;
    border-top: .3rem solid var(--primary);
    box-shadow: var(--shadow-md);

    &-image {
        width: 100%;
    }

    &-body {
        padding: 2rem;
    }

    &-title {
        margin-bottom: 1rem;
        color: var(--primary);
    }

    &-content {
        margin-bottom: 3rem;
        line-height: 1.8;
        color: var(--dark);
        text-align: justify;
    }

    &-description {
        display: flex;
        justify-content: space-between;
        font-size: 1.8rem;
        color: var(--primary);

        a:link,
        a:visited {
            text-decoration: none;
            color: var(--primary);

            &:hover {
                text-decoration: underline;
            }
        }
        
    }

    hr {
        margin: 1rem 0;
        color: var(--dark);
    }

    &-reaction {
        display: flex;
        justify-content: space-between;
        color: var(--dark);
    }
}